In [7]:
tple = ('a','b')
tple
lst = list(tple)
lst

Mn = min([1,2,3,4,5,-1])
Mn

-1

In [27]:
n = 30
if n ==1:
    print(f'El valor de la serie en {n} es 0')
elif n ==2:
    print(f'El valor de la serie en {n} es 1')
elif n>2:
    num1, num2 = 0,1
    for i in range(n-2): num1,num2 = num2, num1+num2
    print(f'El valor de la serie en {n} es {num2}')
else:
    print('Input incorrecto')

El valor de la serie en 30 es 514229